.activity {
    background-color: #F2EFE9;
    border-radius: 20px;
    padding: 28px 33px;
    max-width: 429px;
    font-family: "Nunito", "Arial", sans-serif;
    position: relative;
    height: 447px;
    box-sizing: border-box;
}

.activity-name {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.activity-name__title {
    font-size: 22px;
    font-family: "Raleway", "Arial", sans-serif;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.activity-time {
    background-color: #E5C5B5;
    padding: 8px 25px;
    color: #FFFFFF;
    display: flex;
    gap: 65px;
    max-width: 357px;
    margin: 0 auto 26px;
    border-radius: 10px;
    align-items: center;
}
.is-active {
    background-color: #B8C6B0;
    padding: 5px 18px;
    border-radius: 5px;
}

.middle {
    position: relative;
}

.middle::before {
    content: "";
    height: 19px;
    width: 1px;
    position: absolute;
    background-color: #E8E8E8;
    left: -33px;
}

.middle::after {
    content: "";
    height: 19px;
    width: 1px;
    position: absolute;
    background-color: #E8E8E8;
    right: -33px;
}

.activity__title {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}

.activity-days {
    display: flex;
    gap: 28px;
    position: absolute;
    bottom: 31px;
    left: 37px;
    font-size: 14px;
}

.activity-hours {
    display: flex;
    gap: 27px;
    flex-direction: column-reverse;
    text-transform: uppercase;
    position: absolute;
    bottom: 55px;
    right: 12px;
    font-size: 14px;
}

.activity-lines {
    display: flex;
    flex-direction: column;
    gap: 43px;
    position: absolute;
    bottom: 60px;
    left: 38px;
}

.activity-decor {
    width: 31px;
    height: 96px;
    background-color: #E5C5B5;
    position: absolute;
    border-radius: 10px 10px 0 0;
    bottom: 60px;
}

.decor-1 {
    left: 38px;
}

.decor-2 {
    left: 129px;
    height: 61px;
}

.decor-3 {
    left: 171px;
    height: 110px;
}

.decor-4 {
    height: 121px;
    left: 265px;
}