.activities {
    padding: 0 64px;
}

.activities__wrapper {
    display: flex;
    gap: 86px;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .activities__wrapper {
        flex-direction: column;
        align-items: center;
    }
}