.avoid {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #E5C5B5;
    width: 454px;
    border-radius: 10px;
    margin-left: 94px;
}

.avoid--mini {
    width: 331px;
}

.avoid__text {
    margin: 0;
    font-size: 22px;
    color: #3E3A39;
}

@media (max-width: 768px) {
    .avoid__text {
        font-size: 16px;
    }

    .avoid {
        width: 334px;
        margin: 0 auto;
    }

    .avoid--mini {
        width: 245px;
    }
}

@media (max-width: 480px) {
    .avoid {
        width: 294px;
    }

    .avoid__text {
        font-size: 13px;
    }

    .avoid--mini {
        width: 202px;
    }
}