.banner {
    position: relative;
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 16px;
    color: #3E3A39;
    padding-top: 133px;
}

.banner__title {
    text-align: center;
    font-family: "Raleway", "Arial", sans-serif;
    color: #3E3A39;
    font-size: 160px;
    letter-spacing: 0.23em;
    margin: 0 0 420px;
    position: relative;
    z-index: -1;
}

.banner__img {
    position: absolute;
    top: 241px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.banner__left-top {
    position: absolute;
    top: 352px;
    left: 290px;
}

.banner__top-left {
    position: absolute;
    top: 373px;
    left: 290px;
}

.banner__left-bottom {
    position: absolute;
    top: 481px;
    left: 80px;

}

.banner__bottom-left {
    position: absolute;
    top: 503px;
    left: 80px;
}

.banner__right-top {
    position: absolute;
    top: 336px;
    right: 280px;
}

.banner__top-right {
    position: absolute;
    top: 357px;
    right: 280px;
}

.banner__right-bottom {
    position: absolute;
    top: 414px;
    right: 155px;
}

.banner__bottom-right {
    position: absolute;
    top: 436px;
    right: 150px;
}

/* @keyframes slide-out {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
} */