.banner {
    position: relative;
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 16px;
    color: #3E3A39;
    padding-top: 133px;
}

.banner__title {
    text-align: center;
    font-family: "Raleway", "Arial", sans-serif;
    color: #3E3A39;
    font-size: 160px;
    letter-spacing: 0.23em;
    margin: 0 0 420px;
    position: relative;
    z-index: -1;
}

.banner__img {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.banner__img-phone {
    display: none;
}

.banner__left-top {
    position: absolute;
    top: 44%;
    left: 20%;
}

.banner__top-left {
    position: absolute;
    top: 47%;
    left: 20%;
}

.banner__left-bottom {
    position: absolute;
    top: 61%;
    left: 6%;

}

.banner__bottom-left {
    position: absolute;
    top: 64%;
    left: 6%;
}

.banner__right-top {
    position: absolute;
    top: 42%;
    right: 19%;
}

.banner__top-right {
    position: absolute;
    top: 45%;
    right: 19%;
}

.banner__right-bottom {
    position: absolute;
    top: 52%;
    right: 11%;
}

.banner__bottom-right {
    position: absolute;
    top: 55%;
    right: 11%;
}

@media (max-width: 768px) {

    .banner {
        padding-top: 120px;
    }

    .banner__title {
        font-size: 100px;
        margin-bottom: 329px;
        letter-spacing: 0.15em;

    }

    .banner__img {
        width: 768px;
        height: 400px;
        top: 32%;
    }

    .banner__left-top {
        font-size: 14px;
        top: 39%;
        left: 8%;
    }

    .banner__top-left {
        width: 240px;
        height: 28px;
        top: 42%;
        left: 7%;
    }

    .banner__left-bottom {
        font-size: 14px;
        top: 61%;
        left: 13%;
    }

    .banner__bottom-left {
        width: 201px;
        height: 28px;
        top: 64%;
        left: 10%;
    }

    .banner__right-top {
        font-size: 14px;
        top: 41%;
        right: 2%;
    }

    .banner__top-right {
        width: 220px;
        top: 44%;
        right: 2%;
    }

    .banner__right-bottom {
        font-size: 14px;
        top: 53%;
        right: 34%;
    }

    .banner__bottom-right {
        width: 203px;
        height: 20px;
        top: 56%;
        right: 32%;
    }
}

@media (max-width: 480px) {
    .banner {
        padding-top: 90px;
    }    
    
    .banner__img {
        display: none;
    }

    .banner__title {
        font-size: 60px;
    }

    .banner__top-left {
        display: none;
    }

    .banner__bottom-left {
        display: none;
    }

    .banner__top-right {
        display: none;
    }

    .banner__bottom-right {
        display: none;
    }

    .banner__img-phone {
        display: block;
        position: absolute;
        top: 78px;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        max-width: 480px;
        margin: 0 auto;
    }
    
    .banner__left-top {
        display: none;
    }

    .banner__left-bottom {
        display: none;
    }

    .banner__right-top {
        display: none;
    }

    .banner__right-bottom {
        display: none;
    }
}