.btn {
    font-family: "Nunito", "Arial", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding: 19px 30px;
    background-color: #B8C6B0;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    max-width: 112px;
    transition: transform 0.5s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.btn--card {
    position: absolute;
    bottom: 6%;
    right: 9%;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 137px;
}

.btn--video {
    position: unset;
    margin: 0;
    margin-left: auto;
    margin-top: auto;
}

.btn--food {
    margin: 0;
    max-width: 170px;
    display: flex;
    align-items: center;
    padding: 10px 19px;
}