.header {
    border-bottom: 2px solid #E5C5B5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 100;
}

.header__logo-mini {
    display: none;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 11px 64px;
    align-items: center;
}

.header-login__link {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 11px 0;
    }
}

@media (max-width: 480px) {
    .header-login__link {
        font-size: 12px;
    }

    .header__login-icon {
        width: 20px;
        height: 20px;
    }

    .header__logo-mini {
        display: block;
    }

    .header__logo-big {
        display: none;
    }
}