.header {
    border-bottom: 2px solid #E5C5B5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 11px 64px;
    align-items: center;
}

.header-login__link {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 11px 0;
    }
}