.programms {
    padding-top: 137px;
}

.programms__note {
    font-family: "Nunito", "Arial", sans-serif;
    color: #8C837A;
    margin-bottom: 72px;
    display: block;
    text-align: center;
}

.programms__wrapper {
    display: flex;
    gap: 78px;
    justify-content: center;
}

.programms-card {
    background-color: #F2EFE9;
    padding: 14px;
    width: 328px;
    border-radius: 10px;
    position: relative;
    font-family: "Nunito", "Arial", sans-serif;
    color: #3E3A39;
}


.programms-card__days {
    position: absolute;
    font-size: 15px;
    top: 4%;
    left: 6%;
}

.programms-card__title {
    font-size: 30px;
    font-family: "Raleway", "Arial", sans-serif;
    position: absolute;
    top: 24%;
    right: 9%;
    margin: 0;
}

.programms-card__text {
    font-size: 26px;
    text-align: right;
    position: absolute;
    width: 269px;
    top: 47%;
    right: 9%;
    font-weight: 300;
}

@media (max-width: 768px) {
    .programms {
        padding-top: 100px;
    }

    .programms__wrapper {
        flex-wrap: wrap;
        gap: 60px;
    }

    .programms-card {
        width: 100%;
    }

    .programms-card__days {
        font-size: 16px;
    }

    .programms__note {
        margin-bottom: 45px;
    }

    .programms-card__title {
        font-size: 26px;
        text-transform: uppercase;
    }

    .programms-card__text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .programms {
        padding-top: 60px;
    }

    .programms__wrapper {
        gap: 25px;
    }
}