.recomendations {
    font-family: "Nunito", "Arial", sans-serif;
    padding: 152px 0;
}

.recomendations__title {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 30px;
    color: #3E3A39;
    margin: 0 0 62px;
}

.recomendations__note {
    color: #8C837A;
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    margin: 0 0 47px;
}

.recomendations__note--after {
    margin-top: 62px;
}

.recomendations__wrapper {
    display: flex;
    justify-content: center;
    gap: 78px;
    margin-bottom: 33px;
}

.recomendations-card {
    background-color: #F2EFE9;
    border-radius: 10px;
}

.recomendations-card__main {
    padding: 18px 23px;
}

.recomendations-card__title {
    margin: 0 0 10px;
    font-size: 30px;
    font-family: "Raleway", "Arial", sans-serif;
    color: #3E3A39;
}

.recomendations-card__text {
    font-size: 18px;
    color: #3E3A39;

}
.registration__btn:hover {
    transform: scale(1.1);
}
.registration__btn{
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .recomendations {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .recomendations__title {
        margin-bottom: 40px;
    }

    .recomendations__note {
        font-size: 20px;
        margin-bottom: 35px;
    }

    .recomendations__wrapper {
        flex-wrap: wrap;
    }

    .recomendations-card {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .recomendations-card__title {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .recomendations {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .recomendations__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .recomendations-card {
        flex-direction: column;
    }

    .recomendations__note {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .recomendations__wrapper {
        gap: 25px;
    }
}