.registration-cod {
    padding-top: 151px;
    font-family: "Nunito", "Arial", sans-serif;
}

.registration-cod__wrapper {
    background-color: #F2EFE9;
    padding: 74px 77px;
    border-radius: 20px;
    width: 589px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.registration-cod__title {
    margin: 0 0 67px;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 24px;
}

.registration-cod__form {
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 100%;
    margin-bottom: 60px;
}

.custom-input {
    position: relative;
}

.custom-input__field {
    background-color: unset;
    border: 2px solid #E5C5B5;
    padding: 19px 29px;
    border-radius: 10px;
    width: 100%;
}

.custom-input__label {
    font-size: 14px;
    position: absolute;
    top: -26px;
    left: 0;
}

.custom-input__send {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6%;
    border-radius: 10px;
    border: none;
    background-color: #B8C6B0;
    padding: 5px 10px;
    color: #FFFFFF;
}

.registration-cod__link {
    border-radius: 10px;
    background-color: #B8C6B0;
    padding: 10px 20px;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .registration-cod__wrapper {
        width: 300px;
        padding: 20px;
    }

    .registration-cod__form {
        gap: 35px;
        margin-bottom: 30px;
    }

    .registration-cod__title {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .custom-input__label {
        font-size: 12px;
        top: -18px;
    }
    .custom-input__field {
        padding: 12px 20px;
    }

    .custom-input__field::placeholder {
        font-size: 12px;
    }

    .custom-input__send {
        font-size: 12px;
        right: 2%;
    }
}