.registration-cod{
    padding-top: 147px;
    display: flex;
    justify-content: center;
}
.registration-cod_wrapper{
    background-color: #F2EFE9;
    width: 589px;
    height: 537px;
    border-radius: 20px;
}
.registration-cod__title{
    font-size: 24px;
    padding-top: 75px;
    margin: 0; 
    text-transform: unset;
}
.registration-cod__form{
    padding: 50px 77px 32px 76px;
}

.registration-cod__btn{
    width: 90px;
    height: 42px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: #B8C6B0;
    font-size: 16px;
    font-family: "Nunito", "Arial", sans-serif;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.registration-cod-phone__text{
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    display: inline-block;
}
.registration-cod__text{
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 7px;
}
.registration-cod-phone__input{
    width: 92%;
    height: 57px;
    border-radius: 10px;
    color: #AAA0A0;
    border: 2px solid #E5C5B5;
    background-color: #F2EFE9;
    padding-left: 29px;
}
.registration-cod__input{
    width: 92%;
    height: 57px;
    border-radius: 10px;
    color: #AAA0A0;
    border: 2px solid #E5C5B5;
    background-color: #F2EFE9;
    padding-left: 29px;
}

.custom-input {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.registration-cod__send {
    padding: 5px 10px;
    border: none;
    background-color: #B8C6B0;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Nunito", "Arial", sans-serif;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    transition: transform 0.5s ease;
    overflow: hidden;
    transform-origin: center;
}
.registration-cod-div__btn{
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.registration-cod-btn__link{
    color: white;
}
.registration-cod__btn:hover{
    transform: scale(1.1);
}
.registration-cod__send:hover{
    transform: translateY(-50%) scale(1.1);
}
