.sign-in{
    padding-top: 147px;
    display: flex;
    justify-content: center;
}
.sign-in_wrapper{
    background-color: #F2EFE9;
    width: 589px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.sign-in__title{
    font-size: 24px;
    margin: 0; 
    text-transform: unset;
    margin-bottom: 50px;
}

.sign-in__form {
    margin-bottom: 50px;
}
.sign-in-noacc__div{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 23px;
    font-size: 15px;
}
.sign-in__btn{
    width: 200px;
    height: 42px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: #B8C6B0;
    font-size: 16px;
    font-family: "Nunito", "Arial", sans-serif;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-top: auto;
}
.sign-in-noacc_text{
    font-family: "Nunito", "Arial", sans-serif;
}
.sign-in-noacc_link{
    color: #C9A87C;
    transition: text-shadow 0.3s ease;
}
.sign-in-phone__text{
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    display: inline-block;
}
.sign-in-password__text{
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 7px;
}
.sign-in-phone__input{
    width: 92%;
    height: 57px;
    border-radius: 10px;
    color: #AAA0A0;
    border: 2px solid #E5C5B5;
    background-color: #F2EFE9;
    padding-left: 29px;
}
.sign-in-password__input{
    width: 92%;
    height: 57px;
    border-radius: 10px;
    color: #AAA0A0;
    border: 2px solid #E5C5B5;
    background-color: #F2EFE9;
    padding-left: 29px;
}
.sign-in-div__btn{
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.sign-in-btn__link{
    color: white;
}
.sign-in__btn:hover {
    transform: scale(1.1);
}
.sign-in-noacc_link:hover{
    text-shadow: 0 0 0.5px currentColor, 0 0 0.5px currentColor;
}
@media(max-width: 768px){
    .sign-in{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sign-in__form{
        width: 100%;
        box-sizing: border-box;
        align-items: center;

    }
}
 @media (max-width: 480px){
    .sign-in_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        height: auto;
        max-width: 300px;
        padding: 20px;
        margin: 0 auto;
    }
    .sign-in__form{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    .sign-in-phone__input{
        padding-left: 10px;
        font-size: 14px;
        height: 30px;
    }
    .sign-in-password__input{
        padding-left: 10px;
        font-size: 14px;
        height: 30px;
    }
    .sign-in__btn {
        width: 150px;
        height: 42px;
    }
    .sign-in-noacc__div{
        gap: 8px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sign-in__btn > a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 13px;
    }

    .sign-in__title {
        margin-bottom: 30px;
    }
}
