.sign-in{
    padding-top: 147px;
    display: flex;
    justify-content: center;
}
.sign-in_wrapper{
    background-color: #F2EFE9;
    width: 589px;
    height: 537px;
    border-radius: 20px;
}
.sign-in__title{
    font-size: 24px;
    padding-top: 75px;
    margin: 0; 
    text-transform: unset;
}
.sign-in__form{
    padding: 50px 77px 32px 76px;
}
.sign-in-noacc__div{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 23px;
    font-size: 15px;
}
.sign-in__btn{
    width: 200px;
    height: 42px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: #B8C6B0;
    font-size: 16px;
    font-family: "Nunito", "Arial", sans-serif;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.sign-in-noacc_text{
    font-family: "Nunito", "Arial", sans-serif;
}
.sign-in-noacc_link{
    color: #C9A87C;
    transition: text-shadow 0.3s ease;
}
.sign-in-phone__text{
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 14px;
    padding-bottom: 7px;
    display: inline-block;
}
.sign-in-password__text{
    font-family: "Nunito", "Arial", sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 7px;
}
.sign-in-phone__input{
    width: 92%;
    height: 57px;
    border-radius: 10px;
    color: #AAA0A0;
    border: 2px solid #E5C5B5;
    background-color: #F2EFE9;
    padding-left: 29px;
}
.sign-in-password__input{
    width: 92%;
    height: 57px;
    border-radius: 10px;
    color: #AAA0A0;
    border: 2px solid #E5C5B5;
    background-color: #F2EFE9;
    padding-left: 29px;
}
.sign-in-div__btn{
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.sign-in-btn__link{
    color: white;
}
.sign-in__btn:hover {
    transform: scale(1.1);
}
.sign-in-noacc_link:hover{
    text-shadow: 0 0 0.5px currentColor, 0 0 0.5px currentColor;
}

@media(max-width: 768px){
    .sign-in{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sign-in__form{
        width: 100%;
        box-sizing: border-box;
        align-items: center;

    }

}