.video {
    padding-top: 137px;
}

.video__note {
    font-family: "Nunito", "Arial", sans-serif;
    color: #8C837A;
    margin-bottom: 72px;
    display: block;
    text-align: center;
}

.video-card {
    position: relative;
    width: 328px;
    background-color: #F2EFE9;
    border-radius: 10px;
}

.video-card__main {
    padding: 18px 22px;
}

.video-card__title {
    font-size: 30px;
    margin: 0 0 10px;
    font-family: "Raleway", "Arial", sans-serif;
}

.video-card__title {
    font-size: 18px;
    margin-bottom: 27px;
    display: block;
}